/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2017, 9:31:40 AM
    Author     : Suharshana DsW
*/

.contact-form input {
    float: left;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c3c4c3;
    height: 50px;
    padding: 0 20px;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
}